<div class="table">Table <span class="is-primary-text">{{tableName}}</span>
</div><!--        <ul>--><!--            <li class="table__player" *ngFor="let player of (players$ | async)"> {{player.name}}--><!--                <ng-container *ngIf="(currentPlayerID$ | async) === player.id">- {{player.id}}</ng-container>--><!--            </li>--><!--        </ul>-->

<div class="table__time">Play time: {{time$ | async }}s</div>

<ng-container *ngIf="(sidePots$ | async) as sidePots">
    <span class="side-pots">SidePots</span>
    <div class="side-pot" *ngFor="let pot of sidePots">
        <div class="side-pot__amount">{{pot.amount}}€</div>
        <ul>
            <li *ngFor="let player of pot.players" [style.color]="player.color">{{player.name}}</li>
        </ul>
    </div>
</ng-container>


