<ng-container *ngIf="{ timer: subscribeTimer(timer$ | async)} as data">

    <div class="base-timer" *ngIf="isNumber(data.timer)">
        <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <g class="base-timer__circle">
                <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
                <path id="base-timer-path-remaining"
                      [attr.stroke-dasharray]="circleDasharray"
                      class="base-timer__path-remaining"
                      [ngClass]="state"
                      d="
                      M 50, 50
                      m -45, 0
                      a 45,45 0 1,0 90,0
                      a 45,45 0 1,0 -90,0
                    "></path>
            </g>
        </svg>
        <span class="base-timer__label">{{formatTime(data.timer)}}</span>
    </div>
</ng-container>
