@import "../../../../assets/styles/vars";

$size: 120px;
$stroke-width: 5px;

.timer {
  position: relative;
  width: $size;
  height: $size;
  transform: scale(1.1);

  &__svg {
    transform: scaleX(-1);

  }

  &.indefinite {
    transform: scaleX(1);
    animation: 2s linear infinite svg-animation;
  }

  &__circle {
    fill: none;
    stroke: none;
  }

  &__path-elapsed {
    stroke-width: $stroke-width - 2;
    stroke: grey;
  }

  &__label {
    position: absolute;
    width: $size;
    height: $size;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }

  &__path-remaining {
    stroke-width: $stroke-width;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;

    &.info {
      color: rgb(65, 184, 131);
    }

    &.warning {
      color: $warning-color;
    }

    &.alert {
      color: $danger-color;
    }
  }

  &__path-indefinite {
    stroke: dodgerblue;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-dasharray: (3.14 * $size);
    transform-origin: center;
    animation: spinner 8s linear infinite;
  }
}

// SVG animation.
@keyframes svg-animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg)
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    stroke-dashoffset: (0.66 * $size);
  }
  50% {
    transform: rotate(720deg);
    stroke-dashoffset: (3.14 * $size);
  }
  100% {
    transform: rotate(1080deg);
    stroke-dashoffset: (0.66 * $size);
  }
}
