<div class="page-container">

    <app-feed></app-feed>

    <table-infos class="table-infos"
                 [tableName]="tableName"
                 [players$]="players$"
                 [sidePots$]="sidePots$"
                 [time$]="playDuration$"></table-infos>

    <h3 class="table__action" *ngIf="notification.action$ | async as currentAction">{{currentAction}}</h3>

    <div class="ready-container" *ngIf="(gameStatus$ | async) == 'waiting' && (player$ | async) && (player$ | async).id === (players$ | async)[0]?.id">
        <div class="ready-container__message">Everyone's ready?</div>
        <button class="button" (click)="startGame()">Start</button>
    </div>

    <!--    <div class="ready-container" *ngIf="(gameStatus$ | async) == 'ended' && player$ | async">-->
    <!--        <div class="ready-container__message">Go next?</div>-->
    <!--        <button class="button" (click)="startGame()">Start</button>-->
    <!--    </div>-->

    <div class="game_controls"
         *ngIf="(gameStatus$ | async) == 'started' && isCurrentPlayer && player$ | async as player">
        <button class="button danger" (click)="fold()">Fold</button>
        <ng-container *ngIf="{ maxBet: maxBet$ | async} as data">
            <button *ngIf="data.maxBet == 0; else callBtn" class="button check" (click)="check()">Check</button>
            <ng-template #callBtn>
                <button *ngIf="data.maxBet !== player.bet" class="button" (click)="call()">
                    Call ({{ maxBet - player.bet}})
                </button>
            </ng-template>

        </ng-container>
        <div *ngIf="player.chips > 0" class="game_controls__bet-amount">
            <input (input)="onBetChange($event)"
                   [value]="player.chips / 2"
                   type="range"
                   step="10"
                   min="10"
                   [max]="player.chips"/>
            {{betAmount$ | async}}
            <button class="button" (click)="bet();">Bet</button>
        </div>
    </div>


    <div class="table">
        <div class="stack card-place">
            <app-card *ngFor="let card of getArray(45); let i = index;"
                      figure="back"
                      [ngStyle]="{'top.px': -0.5*i +5 }"></app-card>
        </div>
        <div class="board card-place">
            <app-card *ngFor="let card of (board$ | async)" [figure]="card.figure" [value]="card.value"></app-card>
        </div>
        <div class="players">
            <app-player *ngFor="let player of (players$ | async); let i = index;"
                        [class.client-player]="player.id === (player$|async)?.id"
                        [player]="player"
                        [seat]="getPlayerSeat(i)"
                        [dealer]="player.id === (dealerPlayerID$ | async)"
                        [playing]="player.id === (currentPlayerID$ | async)"></app-player>
        </div>
        <div class="pot" *ngIf="pot$ | async as pot">
            <div class="pot__value">
                {{pot}}€
            </div>
            <div class="jetons">
                <app-coins [amount]="pot" [type]="100"></app-coins>
            </div>
            <div class="jetons">
                <app-coins [amount]="pot" [type]="50"></app-coins>
            </div>
            <div class="jetons">
                <app-coins [amount]="pot" [type]="10"></app-coins>
            </div>
            <div class="jetons">
                <app-coins [amount]="pot" [type]="5"></app-coins>
            </div>
            <div class="jetons">
                <app-coins [amount]="pot" [type]="1"></app-coins>
            </div>
        </div>
    </div>

    <div class="overlay" [class.visible]="showOverlay && inProduction">
        <h2>Sorry, but the table <span class="is-primary-text">{{tableName}}</span> does not exist</h2>
        <a routerLink="/" class="link">Back to home?</a>
    </div>
</div>


