<div class="page-container">

    <app-feed></app-feed>

    <table-infos class="table-infos"
                 [tableName]="tableName"
                 [players$]="players$"
                 [sidePots$]="sidePots$"
                 [time$]="playDuration$"></table-infos>

    <h3 class="table__action" *ngIf="notification.action$ | async as currentAction" [class.error]="currentAction.status === 'error'">{{currentAction.message}}</h3>

    <div class="ready-container"
         *ngIf="(gameStatus$ | async) == 'waiting' && (player$ | async) && (player$ | async).id === (players$ | async)[0]?.id">
        <div class="ready-container__message">Everyone's ready?</div>
        <button class="button" (click)="startGame()">Start</button>
    </div>

    <!--    <div class="ready-container" *ngIf="(gameStatus$ | async) == 'ended' && player$ | async">-->
    <!--        <div class="ready-container__message">Go next?</div>-->
    <!--        <button class="button" (click)="startGame()">Start</button>-->
    <!--    </div>-->


    <game-controls class="game_controls"
                   *ngIf="(gameStatus$ | async) == 'started' && isCurrentPlayer && player$ | async as player"
                   [player]="player"
                   [maxBet$]="maxBet$"
                   [pot]="pot$ | async"
                   [bigBlind]="20"
                   (checked)="check()"
                   (called)="call()"
                   (bet)="bet($event)"
                   (folded)="fold()"></game-controls>

    <div class="table">
        <div class="stack card-place">
            <poker-card *ngFor="let card of getArray(45); let i = index;"
                        figure="back"
                        [ngStyle]="{'top.px': -0.5*i +5 }"></poker-card>
        </div>
        <div class="board card-place">
            <poker-card *ngFor="let card of (board$ | async)" [figure]="card.figure" [value]="card.value"></poker-card>
        </div>
        <div class="players">
            <poker-player *ngFor="let player of (players$ | async); let i = index;"
                          [class.client-player]="player.id === (player$|async)?.id"
                          [player]="player"
                          [seat]="getPlayerSeat(i)"
                          [dealer]="player.id === (dealerPlayerID$ | async)"
                          [playing]="player.id === (currentPlayerID$ | async)"></poker-player>
        </div>
        <div class="pot" *ngIf="pot$ | async as pot">
            <div class="pot__value">
                {{pot}}€
            </div>
            <div class="jetons">
                <poker-chips [amount]="pot" [type]="100"></poker-chips>
            </div>
            <div class="jetons">
                <poker-chips [amount]="pot" [type]="50"></poker-chips>
            </div>
            <div class="jetons">
                <poker-chips [amount]="pot" [type]="10"></poker-chips>
            </div>
            <div class="jetons">
                <poker-chips [amount]="pot" [type]="5"></poker-chips>
            </div>
            <div class="jetons">
                <poker-chips [amount]="pot" [type]="1"></poker-chips>
            </div>
        </div>
    </div>

    <div class="overlay" [class.visible]="showOverlay && inProduction">
        <h2>Sorry, but the table <span class="is-primary-text">{{tableName}}</span> does not exist</h2>
        <a routerLink="/" class="link">Back to home?</a>
    </div>
</div>


