<div class="player"
     [ngClass]="'player-'+ (index + 1)"
     [class.playing]="playing">
    <div class="bank">
        <div class="bank-value">{{ getPlayersBank()   }}</div>
        <app-coins class="jetons-50"
                   [amount]="getPlayersBank()"
                   [type]="50"></app-coins>
        <app-coins class="jetons-10"
                   [amount]="getPlayersBank()"
                   [type]="10"></app-coins>
        <app-coins class="jetons-5"
                   [amount]="getPlayersBank()"
                   [type]="5"></app-coins>
        <app-coins class="jetons-1"
                   [amount]="getPlayersBank()"
                   [type]="1"></app-coins>
    </div>
    <div class="avatar" [ngStyle]="{'background-color': player.color || 'dodgerblue'}"></div>
    <div class="name">{{player.name}}</div>
    <div class="mise" *ngIf="player.bet > 0">
        <div class="mise-value">
            {{ player.bet }}
        </div>
        <div class="jetons jetons-50">
            <app-coins [amount]="player.bet" [type]="50"></app-coins>
        </div>
        <div class="jetons jetons-10">
            <app-coins [amount]="player.bet" [type]="10"></app-coins>
        </div>
        <div class="jetons jetons-5">
            <app-coins [amount]="player.bet" [type]="5"></app-coins>
        </div>
        <div class="jetons jetons-1">
            <app-coins [amount]="player.bet" [type]="1"></app-coins>
        </div>
    </div>
    <div class="cards">
        <app-card *ngFor="let card of player.cards" [figure]="card.figure" [value]="card.value"></app-card>
    </div>
</div>

