<div class="page-container">
    <div class="overview" *ngIf="homeInfo$ | async as homeInfo">
        <div class="overview__total-players">Online: <span>{{homeInfo.players}}</span></div>
        Tables
        <div class="overview__rooms">
            <div *ngFor="let table of homeInfo.tables"
                 class="overview__rooms__entry" [class.has-started]="table.started"
                 (click)="onTableClick(table.name)">
                <span class="live" *ngIf="table.started"></span>  {{table.name}}
            </div>
        </div>
    </div>
    <h4>Definitely NOT Poker</h4>

    <form class="form" [formGroup]="loginForm" (ngSubmit)="joinTable()">
        <input class="input username" placeholder="Username" formControlName="username" required/>
        <input class="input room" placeholder="Table" formControlName="table" required/>
        <button class="button join" type="submit" [disabled]="loginForm.invalid">Join</button>
    </form>

    <div class="form__error">
        <div *ngIf="username.invalid && (username.dirty || username.touched)">
            <div *ngIf="username.errors.minlength">
                Name must be at least 4 characters long.
            </div>

        </div>

        <div *ngIf="table.invalid && (table.dirty || table.touched)">
            <div *ngIf="table.errors.forbiddenName">
                Table name is invalid!
            </div>
        </div>
    </div>


</div>

