@import "../../../assets/styles/utils";

$text-font: $text-secondary;

:host {
  background-color: $secondary-background-color;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: $primary-radius;
  font-family: $text-font;
}
