@import "../../../assets/styles/utils";

$text-font: $text-secondary;

:host {
  background-color: $secondary-background-color;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: $primary-radius;
  font-family: $text-font;
}


.helper__ranks {

  width: 30px;
  height: 30px;
  cursor: pointer;


  &:hover {
    poker-icon {
      fill: lighten($gray, 20%);
    }
  }

}
