<h1>Admin Dashboard</h1>

<div class="container">

    <div *ngIf="adminInfo" class="column">
        Up Time: {{getUptime(adminInfo.uptime) | date:'H:mm:ss'}}

        <div class="section">
            <button class="button show-sockets" (click)="showSockets = !showSockets">Show Sockets</button>

            <h3 class="section__header">Sockets</h3>

            <ul class="sockets__stats">
                <li> Sockets: {{adminInfo.sockets.length}}            </li>
                <li> Sockets with PlayerID: {{getSocketsWithPlayerID(adminInfo.sockets)}}</li>
                <li> Sockets without Table: {{getPlayersWithoutTable(adminInfo.sockets, adminInfo.tables)}}</li>
            </ul>

            <hr>

            <ul *ngIf="showSockets">
                <li class="is-clickable"
                    *ngFor="let socket of adminInfo.sockets"
                    (click)="showTableOfPlayer(socket.playerID)">
                    {{socket.id}} - {{ socket.playerID}}
                </li>
            </ul>

        </div>

        <div class="section">
            <h3 class="section__header">Tables</h3>

            <ul class="tables__stats">
                <li>Tables: {{adminInfo.tables.length}}</li>
                <li>Players: {{getPlayersFromTables(adminInfo.tables)}}</li>
                <li>Last Player added: {{adminInfo.lastPlayerAdded | date:'d.M.y, H:mm'}}</li>
            </ul>

            <div class="table" *ngFor="let table of adminInfo.tables" [class.started]="table.started">
                {{table.startTime | date:'d.M.y, H:mm'}} - <span class="is-clickable"
                                                                 (click)="selectTable(table)">{{table.name}}</span>
            </div>
        </div>
    </div>
    <div class="section table column" *ngIf="table">
        <h3 class="section__header">{{table.name}}</h3>
        <span (click)="removeTable(table.name)">X</span>
        Players:
        <ul>
            <li class="is-clickable" *ngFor="let player of table.players" (click)="player.shown = !player.shown;">
                {{player.name}}
                <div *ngIf="player.shown">
                    {{player | json}}
                </div>
            </li>
        </ul>

    </div>
</div>
