@import "../../assets/styles/vars";

:host {
  display: block;
  padding: $spacing-primary;
}

.container {
  display: flex;
  flex-grow: 1;

  .column {
    flex-grow: 1;
    flex-basis: 0;

    &:not(:last-child) {
      margin-right: $spacing-primary;
    }
  }
}

.section {
  position: relative;
  padding: $spacing-secondary;
  border-radius: 5px;
  background-color: #373a49;
  color: #aaa;
  font-size: 12px;
  margin-bottom: $spacing-primary;

  &__header {
    color: $white;
  }
}

.show-sockets {
  position: absolute;
  top: $spacing-secondary;
  right: $spacing-secondary;
}
