<h1>Admin Dashboard</h1>

<ng-container *ngIf="adminInfo$ | async as info">
    Up Time: {{getUptime(info.uptime) | date:'H:mm:ss'}}


    <div class="sockets">
        Sockets
        <ul class="sockets__stats">
            <li> Sockets: {{info.sockets.length}}            </li>
            <li> Sockets with PlayerID: {{getSocketsWithPlayerID(info.sockets)}}</li>
            <li> Sockets without Table: {{getPlayersWithoutTable(info.sockets, info.tables)}}</li>
        </ul>

        <button class="button" (click)="showSockets = !showSockets">Show Sockets</button>

        <ul [hidden]="!showSockets">
            <li class="socket" *ngFor="let socket of info.sockets">
                {{socket.id}} - {{ socket.playerID}}
            </li>
        </ul>

    </div>

    <hr/>

    <div class="tables">
        Tables
        Last Player added: {{info.lastPlayerAdded | date:'d.M.y, H:mm'}}

        <ul class="tables__stats">
            <li>Tables: {{info.tables.length}}</li>
            <li>Players: {{getPlayersFromTables(info.tables)}}</li>
        </ul>

        <div class="table" *ngFor="let table of info.tables" [class.started]="table.started">
            {{table.startTime | date:'d.M.y, H:mm'}} - {{table.name}}
        </div>

    </div>
</ng-container>
