<h2>Table Settings</h2>

<div class="setting">
    <label class="setting__name">
        Show on Public Table
        <app-toggle class="setting__input toggle"></app-toggle>
    </label>
    <div class="divider"></div>
</div>

<div class="setting">
    <label class="setting__name">
        Allow Re-Buys
        <app-toggle class="setting__input toggle"></app-toggle>
    </label>
    <div class="setting__description">If a player has no chips left to continue, allow them to rebuy.</div>
    <div class="divider"></div>
</div>

<div class="setting">
    <label class="setting__name">
        Auto close table
        <app-toggle class="setting__input toggle"></app-toggle>
    </label>
    <div class="setting__description">When the game is over (only one has chips left) the table will be removed.</div>
    <div class="divider"></div>
</div>

<div class="setting">
    <label class="setting__name">
        Allow Spectators
        <app-toggle class="setting__input toggle"></app-toggle>
    </label>
    <div class="divider"></div>
</div>


<div class="setting">
    <label class="setting__name">
        Play Ambient Music
        <app-toggle class="setting__input toggle"></app-toggle>
    </label>
    <div class="setting__description">Some casino vibes will be played.</div>
    <div class="divider"></div>
</div>


<div class="setting">
    <label class="setting__name">
        Small Blind
        <input class="setting__input input" size="4"/>
    </label>
    <label class="setting__name">
        Big Blind
        <input class="setting__input input" size="4"/>
    </label>
    <label class="setting__name">
        Blind Duration
        <input class="setting__input input" size="4"/>
    </label>
    <div class="setting__description">Fixed (0) otherwise define the seconds after blinds will be increased.</div>

    <div class="divider"></div>
</div>

<div class="setting">
    <label class="setting__name">
        Turn Time
        <input class="setting__input input" size="4" placeholder="∞" disabled/>
    </label>

    <div class="divider"></div>
</div>
<div class="setting">
    <label class="setting__name">
        AFK Time
        <input class="setting__input input" size="4"/>
    </label>
    <div class="setting__description">Time until a player will be marked as AFK and is kickable.</div>
    <div class="divider"></div>
</div>
