<div class="setting">
    <label class="setting__name">
        Show on Public Table
        <app-toggle class="setting__input toggle"></app-toggle>
    </label>
    <div class="divider"></div>
</div>

<div class="setting">
    <label class="setting__name">
        Auto close table
        <app-toggle class="setting__input toggle"></app-toggle>
    </label>
    <div class="setting__description">When the game is over (only one has cash left) the table will be removed.</div>
    <div class="divider"></div>
</div>



<div class="setting">
    <label class="setting__name">
        Small Blind
        <input class="setting__input input" size="4"/>
    </label>
    <label class="setting__name">
        Big Blind
        <input class="setting__input input" size="4"/>
    </label>
    <div class="divider"></div>
</div>

<div class="setting">
    <label class="setting__name">
        Turn Time
        <input class="setting__input input" size="4"/>
    </label>

    <div class="divider"></div>
</div>
<div class="setting">
    <label class="setting__name">
        AFK Time
        <input class="setting__input input" size="4"/>
    </label>
    <div class="setting__description">Time until a player will be marked as AFK.</div>
    <div class="divider"></div>
</div>
