@import "../../assets/styles/utils";

.brand-logo {
  width: 200px;
}

.brand-title {
  font-size: 24px;
  line-height: 20px;
  margin: 1rem;
}

.room__wrapper {
  display: flex;
  width: 100%;
  position: relative;

  .generate {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    padding: 3px;

    font-size: 10px;
    background-color: lighten($input-background-color, 5%);
    color: $text-color-secondary;
    border: 1px solid $secondary-background-color;
    border-radius: $primary-radius;
    outline: none;
    cursor: pointer;
  }

  .settings {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 20px;
    cursor: pointer;

    &:hover {
      poker-icon {
        fill: lighten($gray, 20%);
      }
    }
  }
}

.input {
  border: none;
  padding: 0.75rem;
  box-sizing: border-box;


  @include respond-to(tablet) {
    &.username {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-right: 1px dashed #757575;
    }

    &.room {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}


.button {
  &.join {
    width: 100%;

    @include respond-to(tablet) {
      width: initial;
      margin-left: 1rem;
    }
  }
}

.form {
  .room__wrapper, .username {
    margin-bottom: 1rem;
  }

  @include respond-to(tablet) {
    display: flex;
    .room__wrapper, .username {
      margin-bottom: 0;
    }
  }

  &__error {
    color: $danger-color;
    min-height: 42px;
  }
}


.overview {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 5px;

  border-radius: 5px;
  background-color: #373a49;
  color: #aaa;
  font-size: 12px;

  &__total-players {
    padding-bottom: 5px;

    span {
      color: #fff;
    }
  }

  &__rooms {
    max-height: 70px;
    overflow-y: auto;

    &__entry {
      display: flex;
      align-items: center;
      padding: 5px 0 0 15px;

      color: white;
      cursor: pointer;

      &.has-started {
        color: inherit;
        padding-left: 0;

        &:hover {
          color: white;
        }
      }
    }


  }
}

.live {
  background-color: red;
  width: 5px;
  height: 5px;
  border-radius: 20px;
  display: flex;
  margin: 0 5px;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.repository-badge {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  img {
    width: 100px;
  }
}
