@import "../../../../assets/styles/utils";

.message {

  &__info {
    color: $gray;
  }

  &__error {
    color: $danger-color;
  }

  &__played {
    color: $primary-color;
  }

  &__won {
    color: $warning-color;
  }
}
